<div class="product-unit" style="background-image: url('<%= product.background_image %>');">
  <img class="product-icon" src="./images/<%= product.icon%>">
  <h2 class="product-title">
    <%= product.title %>
  </h2>
  <p class="product-description"> <%= product.description %> </p>
  <a class="button" href="<%= product.link %>" target="_blank">
    <%= product.button %>
  </a>
</div>