<header class="header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true" class="first"></span>
        <span aria-hidden="true" class="second"></span>
        <span aria-hidden="true" class="third"></span>
        <a class="navbar-item" href="index2.html">
          <img src="../images/connect-logo-2.svg">
        </a>
      </a>
      <div class="popup-menu">
        <div href="#" class="popup-menu-close">
          <span></span>
          <span></span>
        </div>
        <div class="popup-menu-list">
          <% data.navbar2.links.each do |link| %>
            <a class="popup-menu-item" data-scroll-to="<%= link.target %>" herf="<%= link.path %>">
              <%= link.name %>
            </a>
          <% end%>
        </div>
      </div>
    </div>
    <div class="navbar-menu">
      <% data.navbar2.links.each do |link| %>
        <a class="navbar-item" data-scroll-to="<%= link.target %>" herf="<%= link.path %>">
          <%= link.name %>
          <div class="line"></div>
        </a>
      <% end%>
    </div>
  </nav>
</header>